#list a:link {
    color: navy;
}

#list a:visited {
    color: navy;
}

body {
    background-color: white;
    overflow-x: hidden;
    height: 100%;
}

h1 {
    color: black;
    background: darkorange;
    width: 100%;
    text-align: center;
    padding: 15px;
}

#header {
    text-align: center;
    background-color: darkorange;
    height: 100px;
}

#headertext {
    margin-top: 25px;
    display: inline-block;
}

#loginbutton {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

#menu {
    margin-top: 40px;
    margin-left: 10px;
}

#footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}