#list a:link {
    color: navy;
}

#list a:visited {
    color: navy;
}

body {
    overflow-x: hidden;
    height: 100%;
}

#alleFahren {
    padding: 10px;
}

.addFahrten {
    margin-bottom: 25px;
}

#search-box {
    margin: 15px;
    display: inline;
    white-space: nowrap;
}

#search-box * {
    display: inline;
}

#search-box img {
    cursor: pointer;
}

#footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}