#list a:link {
    color: navy;
}

#list a:visited {
    color: navy;
}

body {
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

#alleFahren {
    padding: 10px;
}

.addFahrten {
    margin-bottom: 25px;
}

#search-box {
    margin: 15px;
    display: inline;
    white-space: nowrap;
    width: 65%;
}

#search-box * {
    display: inline;
}

#search-box img {
    cursor: pointer;
}

#footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 0;
}

#frage {
    float: left;
    margin-right: 10px; 
    margin-left: 10px;
}

#gesucht {
    margin-left: 10px;
}

.hr {
    background-color: dimgrey;
}